<div class="card mx-auto text-center border-light" style="width: 18rem;">
    <img src="assets/angular.jpg" class="card-img-top" alt="Angular Logo">
    <div class=" card-body">
        <h5 class="card title"> Mi Blog</h5>
        <p class="card-text">Un Blog Personal Creado Con Angular y El Generador De Sitios Estaticos De Scully </p>
        <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>
        <a href="https://scully.io/" target="_blank" class="card-link">Scully</a>
    </div>
</div>